<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/save}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{username}" id="name" class="input_field"/><br/>
    <label for="age">age:</label>
    <input type="text" th:field="*{age}" id="age" class="input_field"/><br/>
    <label for="password">password:</label>
    <input type="text" th:field="*{password}" id="password" class="input_field"/><br/><br>
    <div>
        <label>Roles: </label>
        <th:block th:each="role: ${roles}">
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.name}" th:value="${role.id}"/>
        </th:block>
    </div>
    <br>
    <br>
    <input type="submit" value="Create" class="styled_input update_input"/>
    <input type="submit" value="Back" sec:authorize="hasRole('ROLE_ADMIN')" th:formaction="@{/admin}" th:formmethod="GET" class="styled_input update_input"/>
</form>
</body>
</html>